/* General */

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.75vmax;
  background: black;
  border-radius: 1vmin;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: red;
}

::-webkit-scrollbar-track {
  border: medium solid red;
  margin: 4vmin;
}

/* Fonts */

@font-face {
  font-family: hikasami;
  src: url(/fonts/hikasami/ttf/Hikasami-Regular.ttf);
}

@font-face {
  font-family: anvers;
  src: url(/fonts/anvers/Anvers-Regular.ttf);
}

/* Header */

.header {
    margin: auto;
    position: absolute;
    top: 5vmin;
    left: 50%;
    transform: translate(-50%, 5%);
    width: 25vmax;
    height: 7.5vmin;
    border-radius: 1vmin;
    background-color: rgb(12, 12, 12);
    opacity: 80%;
    text-align: center;
    vertical-align: middle;
    line-height: 7.5vmin;
    font-size: 2.5vmin;
    font-weight: bold;
    font-family: hikasami;
    color: white;
}

.header:hover {
    background-color: rgb(255, 0, 0);
    cursor:pointer;
    color: black;
    transition: 2s;
}

/* Nav Bar */

.nav {
  margin: auto;
  position: absolute;
  bottom: 10vmin;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 50vmax;
  height: 7.5vmin;
  border-radius: 1vmin;
  background-color: rgb(12, 12, 12);
  opacity: 80%;
}

.nav-margin {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 45vmax;
  height: 7.5vmin;
  background-color: rgb(12, 12, 12);
  opacity: 100%;
}

/* Projects Modal */

.projects-nav-button {
  margin: auto;
  position: absolute;
  left: 0%;
  width: 15vmax;
  height: 7.5vmin;
  background-color: rgb(12, 12, 12);
  color: white;
  opacity: 80%;
  border-width: medium;
  border: none;
  font-family: hikasami;
  font-size: 1.75vmin;
  text-align: center;
  vertical-align: middle;
}

.projects-menu {
  display: none;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  width: 75vmax;
  height: 65vmin;
  border-radius: 1vmin;
  background-color: black;
  opacity: 82.5%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.projects-header {
  margin: auto;
  position: absolute;
  top: 4vmin;
  left: 2vmax;
  width: 23vmax;
  height: 5vmin;
  padding-left: 2vmax;
  font-size: 2.5vmin;
  font-weight: bold;
  font-family: hikasami;    
  vertical-align: middle;
  line-height: 5vmin;
  background-color: red;
  color: black;
}

.projects-text-box {
  margin: auto;
  position: absolute;
  top: 14vmin;
  left: 2vmax;
  width: 25vmax;
  height: 232.5vmin;
  background-color: transparent;
}

.projects-media-box {
  margin: auto;
  position: absolute;
  top: 14vmin;
  right: 2vmax;
  width: 45vmax;
  height: 232.5vmin;
  background-color: transparent;
}

.projects-title {
  margin: auto;
  position: absolute;
  top: 4vmin;
  left: 2vmax;
  width: 20vmax;
  height: 4vmin;
  background-color: transparent;
  color: white;
  font-size: 2.5vmin;
  font-weight: bold;
  font-family: hikasami;  
  overflow: hidden;
}

.projects-subhead {
  font-style: italic;
  font-weight:bold;
}

.projects-body {
  margin: auto;
  position: absolute;
  top: 10vmin;
  left: 2vmax;
  width: 20vmax;
  height: 36vmin;
  background-color: transparent;
  color: white;
  font-size: 1.75vmin;
  font-weight: normal;
  font-family: anvers;  
  line-height: 2.375vmin;
  overflow: hidden;
  hyphens: auto;
}

.projects-body-extra {
  margin: auto;
  position: absolute;
  top: 10vmin;
  left: 2vmax;
  width: 20vmax;
  height: 41vmin;
  background-color: transparent;
  color: white;
  font-size: 1.75vmin;
  font-weight: normal;
  font-family: anvers;  
  line-height: 2.375vmin;
  overflow: hidden;
  hyphens: auto;
}

.italic {
  font-style: italic;
}

/* Reverie Eye */

.reverie-eye-text {
  margin: auto;
  position: absolute;
  top: 0%;
  width: 25vmax;
  height: 50vmin;
  background-color: transparent;
  border-top: thin solid red;
  border-left: thin solid red;
  border-bottom: thin solid red;
}

.projects-reverie-eye {
  margin: auto;
  position: absolute;
  top: 0%;
  left: 50%;
  width: 42.5vmax;
  height: 50vmin;
  transform: translate(-50%, 0%);
  border-top: thin solid red;
  border-right: thin solid red;
  border-bottom: thin solid red;
}

#reverie-eye {
  margin: auto;
  position: absolute;
  width: 37.5vmax;
  height: 50vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Kaleidos */

.kaleidos-text {
  margin: auto;
  position: absolute;
  top: 52.5vmin;
  width: 25vmax;
  height: 55vmin;
  background-color: transparent;
  border-top: thin solid red;
  border-left: thin solid red;
  border-bottom: thin solid red;
}

.projects-kaleidos {
  margin: auto;
  position: absolute;
  top: 52.5vmin;
  left: 50%;
  width: 42.5vmax;
  height: 55vmin;
  transform: translate(-50%, 0%);
  border-top: thin solid red;
  border-right: thin solid red;
  border-bottom: thin solid red;
}

#kaleidos {
  margin: auto;
  position: absolute;
  width: 37.5vmax;
  height: 50vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Organism */

.organism-text {
  margin: auto;
  position: absolute;
  top: 110vmin;
  width: 25vmax;
  height: 55vmin;
  background-color: transparent;
  border-top: thin solid red;
  border-left: thin solid red;
  border-bottom: thin solid red;
}

.projects-organism {
  margin: auto;
  position: absolute;
  top: 110vmin;
  left: 50%;
  width: 42.5vmax;
  height: 55vmin;
  transform: translate(-50%, 0%);
  border-top: thin solid red;
  border-right: thin solid red;
  border-bottom: thin solid red;
}

#organism {
  margin: auto;
  position: absolute;
  width: 37.5vmax;
  height: 50vmin;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Publications */

.publications-media-box {
  margin: auto;
  position: absolute;
  left: 2vmax;
  top: 182vmin;
  width: 69vmax;
  height: 70vmin;
  background-color: transparent;
}

.publication-title {
  margin: auto;
  position: absolute;
  top: 5vmin;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 17vmax;
  height: 4vmin;
  background-color: transparent;
  color: white;
  font-size: 2.5vmin;
  font-weight: bold;
  font-family: hikasami; 
  text-align: center; 
  overflow: hidden;
}

.publication-subhead {
  font-style: italic;
  font-weight: bold;
}

.publication-body {
  margin: auto;
  position: absolute;
  top: 11.5vmin;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 17vmax;
  height: 40vmin;
  background-color: transparent;
  color: white;
  font-size: 1.75vmin;
  font-weight: normal;
  font-family: anvers; 
  text-align: left; 
  line-height: 2.375vmin;
  overflow: hidden;
  hyphens: auto;
}

.publication-link {
  margin: auto;
  position: absolute;
  top: 56vmin;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 17vmax;
  height: 5vmin;
  background-color: transparent;
  color: white;
  border: thin solid red;
  font-size: 2vmin;
  font-weight: normal;
  font-family: hikasami; 
  vertical-align: middle;
  line-height: 5vmin;
  text-align: center; 
  text-decoration: none;
}

.publication-link:hover {
  background-color: red;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.i-am-another {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  width: 22vmax;
  height: 65.75vmin;
  background-color: transparent;
  border: thin solid red;
}

.oneiric-afterlife{
  margin: auto;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 22vmax;
  height: 65.75vmin;
  background-color: transparent;
  border: thin solid red;
}

.oneiric-underworld {
  margin: auto;
  position: absolute;
  right: 0%;
  top: 0%;
  width: 22vmax;
  height: 65.75vmin;
  background-color: transparent;
  border: thin solid red;
}

.projects-back {
  margin: auto;
  position:absolute;
  top: 4vmin;
  right: 3vmax;
  width: 5vmin;
  height: 5vmin;
  background-color: transparent;
  color: red;
  border: thin solid red;
  font-size: 2vmin;
  font-weight: bold;
  font-family: hikasami;    
  vertical-align: middle;
}

.projects-back:hover {
  background-color: red;
  color: black;
  cursor: pointer;
}

.projects-nav-button:hover {
  border-top: solid white;
  border-bottom: solid white;
  background-color: black;
  opacity: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* About Modal */

.about-nav-button {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 15vmax;
  height: 7.5vmin;
  background-color: rgb(12, 12, 12);
  color: white;
  opacity: 80%;
  border-width: medium;
  border: none;
  font-family: hikasami;
  font-size: 1.75vmin;
  text-align: center;
  vertical-align: middle;
}

.about-menu {
  display: none;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  width: 36.5vmax;
  height: 65vmin;
  border-radius: 1vmin;
  background-color: black;
  opacity: 82.5%;
}

.about-header {
  margin: auto;
  position: absolute;
  top: 4vmin;
  left: 2vmax;
  width: 12vmax;
  height: 5vmin;
  padding-left: 2vmax;
  font-size: 2.5vmin;
  font-weight: bold;
  font-family: hikasami;    
  vertical-align: middle;
  line-height: 5vmin;
  background-color: red;
  color: black;
}

.about-text-box {
  margin: auto;
  position: absolute;
  top: 14vmin;
  left: 2vmax;
  width: 26vmax;
  height: 44vmin;
  background-color: transparent;
  border-left: thin solid red;
  border-top: thin solid red;
  border-bottom: thin solid red;
}

.about-title {
  margin: auto;
  position: absolute;
  top: 4vmin;
  left: 2vmax;
  width: 20vmax;
  height: 4vmin;
  color: white;
  font-size: 2.5vmin;
  font-weight: bold;
  font-family: hikasami; 
  text-align: left; 
  overflow: hidden;
}

.about-body {
  margin: auto;
  position: absolute;
  top: 10.5vmin;
  left: 2vmax;
  width: 20vmax;
  height: 29vmin;
  background-color: transparent;
  color: white;
  font-size: 1.75vmin;
  font-weight: normal;
  font-family: anvers; 
  line-height: 2.375vmin;
  text-align: left; 
  overflow: hidden;
  hyphens: auto;
}

.about-back {
  margin: auto;
  position: absolute;
  top: 4vmin;
  right: 2vmax;
  width: 5vmin;
  height: 5vmin;
  background-color: transparent;
  color: red;
  border: thin solid red;
  font-size: 2vmin;
  font-weight: bold;
  font-family: hikasami;    
  vertical-align: middle;
}

.about-back:hover {
  background-color: red;
  color: black;
  cursor: pointer;
}

.about-nav-button:hover {
  border-top: solid white;
  border-bottom: solid white;
  background-color: black;
  opacity: 100%;
  font-weight: bold;
  cursor: pointer;
}

/* Contact Modal */

.contact-nav-button {
  margin: auto;
  position: absolute;
  right: 0%;
  width: 15vmax;
  height: 7.5vmin;
  background-color: rgb(12, 12, 12);
  color: white;
  opacity: 80%;
  border-width: medium;
  border: none;
  font-family: hikasami;
  font-size: 1.75vmin;
  text-align: center;
  vertical-align: middle;
}

.contact-menu {
  display: none;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  width: 25vmax;
  height: 65vmin;
  border-radius: 1vmin;
  background-color: black;
  opacity: 82.5%;
}

.contact-header {
  margin: auto;
  position: absolute;
  top: 4vmin;
  left: 2vmax;
  width: 12vmax;
  height: 5vmin;
  padding-left: 2vmax;
  font-size: 2.5vmin;
  font-weight: bold;
  font-family: hikasami;    
  vertical-align: middle;
  line-height: 5vmin;
  background-color: red;
  color: black;
}

.contact-text-box {
  margin: auto;
  position: absolute;
  top: 14vmin;
  left: 2vmax;
  width: 16vmax;
  height: 44vmin;
  background-color: transparent;
}

.email {
  margin: auto;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 14vmax;
  height: 5.5vmin;
  background-color: transparent;
  color: white;
  font-size: 1.75vmin;
  font-weight: normal;
  font-family: hikasami; 
  vertical-align: middle;
  line-height: 5.5vmin;
  padding-left: 2vmax;
  text-align: left; 
  border: thin solid red;
}

.email:hover {
  background-color: red;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.phone-number {
  margin: auto;
  position: absolute;
  top: 7.5vmin;
  left: 0%;
  width: 14vmax;
  height: 5.5vmin;
  background-color: transparent;
  color: white;
  font-size: 1.75vmin;
  font-weight: normal;
  font-family: hikasami; 
  vertical-align: middle;
  line-height: 5.5vmin;
  padding-left: 2vmax;
  text-align: left; 
  border: thin solid red;
}

.phone-number:hover {
  background-color: red;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.arena {
  margin: auto;
  position: absolute;
  top: 15vmin;
  left: 0%;
  width: 14vmax;
  height: 5.5vmin;
  background-color: transparent;
  color: white;
  font-size: 1.75vmin;
  font-weight: normal;
  font-family: hikasami; 
  padding-left: 2vmax;
  vertical-align: middle;
  line-height: 5.5vmin;
  padding-left: 2vmax;
  text-align: left; 
  border: thin solid red;
  text-decoration: none;
}

.arena:hover {
  background-color: red;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.letterboxd {
  margin: auto;
  position: absolute;
  top: 22.5vmin;
  left: 0%;
  width: 14vmax;
  height: 5.5vmin;
  background-color: transparent;
  color: white;
  font-size: 1.75vmin;
  font-weight: normal;
  font-family: hikasami; 
  padding-left: 2vmax;
  vertical-align: middle;
  line-height: 5.5vmin;
  padding-left: 2vmax;
  text-align: left; 
  border: thin solid red;
  text-decoration: none;
}

.letterboxd:hover {
  background-color: red;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.linkedin {
  margin: auto;
  position: absolute;
  top: 30vmin;
  left: 0%;
  width: 14vmax;
  height: 5.5vmin;
  background-color: transparent;
  color: white;
  font-size: 1.75vmin;
  font-weight: normal;
  font-family: hikasami; 
  padding-left: 2vmax;
  vertical-align: middle;
  line-height: 5.5vmin;
  padding-left: 2vmax;
  text-align: left; 
  border: thin solid red;
  text-decoration: none;
}

.linkedin:hover {
  background-color: red;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.resume {
  margin: auto;
  position: absolute;
  top: 37.5vmin;
  left: 0%;
  width: 14vmax;
  height: 5.5vmin;
  background-color: transparent;
  color: white;
  font-size: 1.75vmin;
  font-weight: normal;
  font-family: hikasami; 
  padding-left: 2vmax;
  vertical-align: middle;
  line-height: 5.5vmin;
  padding-left: 2vmax;
  text-align: left; 
  border: thin solid red;
  text-decoration: none;
}

.resume:hover {
  background-color: red;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.contact-back {
  margin: auto;
  position: absolute;
  top: 4vmin;
  right: 2vmax;
  width: 5vmin;
  height: 5vmin;
  background-color: transparent;
  color: red;
  border: thin solid red;
  font-size: 2vmin;
  font-weight: bold;
  font-family: hikasami;    
  vertical-align: middle;
}

.contact-back:hover {
  background-color: red;
  color: black;
  cursor: pointer;
}

.contact-nav-button:hover {
  border-top: solid white;
  border-bottom: solid white;
  background-color: black;
  opacity: 100%;
  font-weight: bold;
  cursor: pointer;
}